<h1>Welcome to Actors Page</h1>
<h2><a href="/users/account">Home Page</a></h2>
<ul>List of Actors: 
    <% @actors.each do |actor| %>
    <li><a href="/actors/<%= actor.slug %>"><%= actor.cap %></a></li>
    <% end %>
</ul>