<h1>Create a new Movie</h1>

<form action="/movies" method="POST">
  <input type="text" name="movie[name]" placeholder="Movie Name" required><br><br>
  <input type="text" name="movie[year]" placeholder="Movie Year" required><br><br>
  <input type="text" name="movie[rating]" placeholder="Movie Rating" required><br><br>
  <input type="text" name="director" placeholder="Movie Director" required><br><br>
  <textarea rows="4" cols="25" name="actors" placeholder="Actors ex: Brad Pitt, Tom Hanks, Will Smith. 'Separate by commas'" required></textarea><br><br>

  <input type="submit" value="Create">
</form>