<h1>Welcome to Directors Page</h1>
<h2><a href="/users/account">Home Page</a></h2>
<ul>List of Directors: 
    <% @directors.each do |director| %>
    <li><a href="/directors/<%= director.slug %>"><%= director.cap %></a></li>
    <% end %>
</ul>