<h3><%= @director.cap %></h3>
<ul>Movies:
<% @director.movies.each do |movie| %>
<li><a href="/movies/<%= movie.slug %>"><%= movie.cap %></a></li>
<% end %>
</ul>
<h3><a href="/users/account">Home Page</a></h3>