<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %><br>
<a href="/users/logout">Log Out</a>
<h2>Welcome to your movie account, <%= @user.username %></h2>
<ul>Favorite movies:
    <% @user.movies.each do |movie| %>
    <li><a href="/movies/<%= movie.slug %>"><%= movie.name %></a></li>
    <% end %>
</ul>

<form method="POST" action="/account">
  <label for="movie_name">Search for a Movie:</label><br>
  <input type="text" id="movie_name" name="movie[name]" placeholder="Title">
  <input type="submit" value="Search">
</form>

