<!DOCTYPE html>
<html>
  <head>
    <title>Movies</title>
    <style>
      body {
        background: #D0F0C0
      }
      h1 {
        color: blue
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>